// Write your styles here

@mixin header-img-style {
	background-image: $bg-img;
	width: 100vw;
	height: 183vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

@mixin header-text {
	color: $nav-a-color;
	text-transform: uppercase;
}



body {
	background: $body-background;
	font: $font;

	header {
		@include header-img-style;
		@include header-text;

		.logo {
			display: inline;

			img {
				height: auto;
				max-width: 17%;
			}

		}

		nav {
			float: right;
			margin: 10px 29px 0px 0px;

			a {
				border-left: 2px solid $nav-a-border;
				color: $nav-a-color;
				padding: 13px 95px 19px 95px;
				text-decoration: none;

				&:first-child {
					border-left: none;
				}
			}

		}

		section {
			text-align: center;
			margin-top: 300px;

			a {
				text-decoration: none;
				color: $btn-color;
				background-color: $button-color;
				width: 0px;
				padding: 13px 61px;

				&:hover {
					background-color: $btn-hover-color;
				}
			}
		}

	}

	main {
		margin: 14px auto;
		width: 970px;

		.toolbar {
			height: 40px;

			input {
				width: 211px;
				height: 22px;
				margin-right: 7px;
				padding: 8px;
				float: right;
				border: 2px solid $form-border-color;
				background-color: $input-bg-color;
			}
		}

		#list {
			h1 {
				text-align: right;
				text-transform: uppercase;
				margin: 27px 0px 3px 0px;
				color: $p-color;
			}

			article {
				display: flex;
				height: 301px;
				margin-bottom: 23px;
				background: $article-bg;

				.post-description {
					margin-top: 18px;
					color: $post-description-color;
				}

				.post {

					h3 {
						margin-top: 2px;
						height: 15px;
						text-transform: uppercase;
						color: $h-color;

						&:before {
							content: '';
							position: absolute;
							background-color: black;
							width: 680px;
							height: 1px;
						}
					}

					p {
						color: $p-color;
					}
				}

				.btn {
					cursor: pointer;
					border: none;
					width: 209px;
					height: 39px;
					margin: -6px 25px 0px 0;
					background-color: $button-color;
					color: $btn-color;
					text-transform: uppercase;
					float: right;

					&:hover {
						background-color: $btn-hover-color;
					}

				}



				img {
					padding: 16px;
					height: 250px;
				}
			}
		}

		#about {
			h1 {
				color: $p-color;
				padding-top: 26px;
				margin: 0px 0px -6px 824px;
				text-transform: uppercase;
			}

			p {
				color: $p-color;
			}

			img {
				width: 965px;
			}
		}

		.contact-form {
			text-align: right;

			h1 {
				color: $p-color;
			}

			h4 {
				text-transform: uppercase;
				margin-top: -15px;
				color: $p-color;
			}

			.inputs {
				color: $h-color;
				display: inline-flex;

				input {
					border: 1px solid $form-border-color;
					background-color: $input-bg-color;
					height: 32px;
					width: 475px;
				}
			}

			.text-field {
				margin-top: 19px;
				color: $h-color;

				textarea {
					background-color: $input-bg-color;
					border: 1px solid $form-border-color;
					width: 100%;
				}
			}

			.btn-sbm {
				cursor: pointer;
				border: none;
				width: 209px;
				height: 39px;
				margin: 13px -6px 0px 0;
				background-color: $button-color;
				color: $btn-color;
				text-transform: uppercase;

				&:hover {
					background-color: $btn-hover-color;
				}
			}
		}
	}

	footer {
		color: $p-color;
	}
}
