$font:normal 18px/26px "Palatino Linotype",
"Book Antiqua",
Palatino,
serif;
$bg-img:url(../img/header_background_v2.jpg);
$nav-a-color:lighten(red, 20%);
$nav-a-border: darken(white, 20%);
$button-color: #0401ac;
$article-bg: white;
$form-border-color: lighten(black, 80%);
$body-background: darken(white, 10%);
$btn-color: white;
$input-bg-color: darken(white, 10%);
$btn-hover-color: lighten($button-color, 5%);
$post-description-color: lighten(black, 65%);
$p-color: lighten(black, 45%);
$h-color: #488b98;
