$font:normal 300 15px/24px Roboto,
Ubuntu,
Cantarell,
Helvetica,
sans-serif;
$bg-img:url(../img/header_background_v1.jpg);
$nav-a-color:darken(white, 10%);
$nav-a-border: darken(white, 20%);
$button-color:#01acac;
$article-bg: darken(#efefef, 2%);
$form-border-color: lighten(black, 60%);
$body-background: white;
$btn-color: white;
$input-bg-color:white;
$btn-hover-color: lighten($button-color, 5%);
$p-color:black;
$post-description-color: red;
$h-color:#01acac;
